<div class="row">
	<div class="col-lg-12 margin-tb">
        <h1 style="color:#3276b1"><strong>Login</strong></h1>
        <hr>
		<form class="digits" name="digits" ng-submit="getGrades()" novalidate >
            Nama : <input type="text" placeholder="txt here plz" name="alpha" ng-model="alpha" required ng-pattern="[a-zA-Z0-9]+" />
            <p class="alert" ng-show="digits.alpha.$error.pattern">Text only, please.</p>
            <br>
            Email: <input type="email" name="email" ng-model="email" required>
            <p class="alert" ng-show="digits.email.$error.pattern">Email, please.</p>
            <br/>
            Password: <input type="password" name="password" ng-model="password" required ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/">
            <p class="alert" ng-show="digits.password.$error.pattern">password, please.</p>
            <br/>
          </form>
	</div>
</div>